<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">

	<div class="alert alert-primary" th:if="${#lists.isEmpty(lista)}">
		Nenhum Estado cadastrado.</div>
	<div class="alert alert-primary" th:if="${mensagem != null}"
		th:text="${mensagem}"></div>

	<div th:if="${not #lists.isEmpty(lista)}">

		<table class="table table-striped">

			<thead>
				<tr>
					<th>Id</th>
					<th>Descrição</th>
					<th>Sigla</th>
					<th>País</th>
					<th>Opções</th>
				</tr>
			</thead>
			<tbody>
				<tr  th:each="estado : ${lista}">
					<td th:text="${estado.id}"></td>
					<td th:text="${estado.descricao}"></td>
					<td th:text="${estado.sigla}"></td>
					<td th:text="${estado.pais}"></td>
					<td width="132"><a class="btn btn-primary btn-sm"
						th:href="@{/estado/form(id=${estado.id})}">Editar</a> <a
						class="btn btn-primary btn-sm"
						th:href="@{/estado/excluir(id=${estado.id})}"
						onclick="return confirm('Você realmente deseja excluir esse Estado?')">Excluir</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</html>