<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
<div class="alert alert-primary" th:if="${mensagem != null}"
		th:text="${mensagem}"></div>

	<div class="card">
		<div class="card-header">
			<p class="text-primary">Nova Cidade</p>
		</div>
		<div>
			<div class="card-body">
				<form class="row g-3" method="POST" th:object="${cidade}"
					th:action="@{/cidade/form}">
					<input type="hidden" th:field="*{id}"></input>

					<div class="col-6">
						<label for="nome" class="form-label">Descrição </label> <input
							type="text" class="form-control" th:field="*{descricao}"
							placeholder="">
					</div>
					
					
					<div class="col-6">
							<label for="nome" class="form-label">Estado</label> <select
								class="form-select" th:field="*{estado}">
								<option th:each="estado : ${Estado}"
									th:value="${estado.id}" 
									th:text=${estado.descricao} />
							</select>
						
					</div>
					

				<div class="col-md-2">
					<button type="submit" class="btn btn-primary">Salvar
						Cadastro</button>
				</div>

				</form>
			</div>
		</div>
	</div>
</div>
</html>