<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">

	<div class="alert alert-primary" th:if="${#lists.isEmpty(lista)}">
		Nenhuma Cidade cadastrada.</div>
	<div class="alert alert-primary" th:if="${mensagem != null}"
		th:text="${mensagem}"></div>

	<div th:if="${not #lists.isEmpty(lista)}">

		<table class="table table-striped">

			<thead>
				<tr>
					<th>Id</th>
					<th>Descrição</th>
					<th>Estado</th>
					<th>Opções</th>
				</tr>
			</thead>
			<tbody>
				<tr  th:each="cidade : ${lista}">
					<td th:text="${cidade.id}"></td>
					<td th:text="${cidade.descricao}"></td>
					<td th:text="${cidade.estado}"></td>
					<td width="132"><a class="btn btn-primary btn-sm"
						th:href="@{/cidade/form(id=${cidade.id})}">Editar</a> <a
						class="btn btn-primary btn-sm"
						th:href="@{/cidade/excluir(id=${cidade.id})}"
						onclick="return confirm('Você realmente deseja excluir essa Cidade?')">Excluir</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</html>