<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">

	<div class="alert alert-primary" th:if="${#lists.isEmpty(lista)}">
		Nenhum Departamento cadastrado.</div>
	<div class="alert alert-primary" th:if="${mensagem != null}"
		th:text="${mensagem}"></div>

	<div th:if="${not #lists.isEmpty(lista)}">

		<table class="table table-striped">

			<thead>
				<tr>
					<th>Id</th>
					<th>Descrição</th>
					<th>Opções</th>
				</tr>
			</thead>
			<tbody>
				<tr  th:each="departamento : ${lista}">
					<td th:text="${departamento.id}"></td>
					<td th:text="${departamento.descricao}"></td>
					<td width="132"><a class="btn btn-primary btn-sm"
						th:href="@{/departamento/form(id=${departamento.id})}">Editar</a> <a
						class="btn btn-primary btn-sm"
						th:href="@{/departamento/excluir(id=${departamento.id})}"
						onclick="return confirm('Você realmente deseja excluir esse Departamento?')">Excluir</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</html>