<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">

	<div class="alert alert-primary" th:if="${#lists.isEmpty(lista)}">
		Nenhum telefone cadastrado</div>
	<div class="alert alert-primary" th:if="${mensagem != null}"
		th:text="${mensagem}"></div>

	<div th:if="${not #lists.isEmpty(lista)}">

		<table class="table table-striped">

			<thead>
				<tr>
					<th>Id</th>
					<th>Razão Social</th>
					<th>Nome Fantasia</th>
					<th>CNPJ</th>
					<th>Inscrição Estadual</th>
					<th>Inscrição Municipal</th>
					<th>E-Mail</th>
					<th>Data Cadastro</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="fornecedor : ${lista}">
					<td th:text="${fornecedor.id}"></td>
					<td th:text="${fornecedor.rzSocial}"></td>
					<td th:text="${fornecedor.nmFantasia}"></td>
					<td th:text="${fornecedor.cnpj}"></td>
					<td th:text="${fornecedor.inscricaoEstadual}"></td>
					<td th:text="${fornecedor.inscricaoMunicipal}"></td>
					<td th:text="${fornecedor.email}"></td>
					<td th:text="${fornecedor.dtCadastro}"></td>
					<td width="auto"><a class="btn btn-primary btn-sm"
						th:href="@{/fornecedor/form(id=${fornecedor.id})}">Editar</a> <a
						class="btn btn-primary btn-sm"
						th:href="@{/fornecedor/excluir(id=${fornecedor.id})}"
						onclick="return confirm('Você realmente deseja excluir esse fornecedor?')">Excluir</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</html>