<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
<div class="alert alert-primary" th:if="${mensagem != null}"
		th:text="${mensagem}"></div>

	<div class="card">
		<div class="card-header">
			<p class="text-primary">Novo Fornecedor</p>
		</div>
		<div>
			<div class="card-body">
				<form class="row g-3" method="POST" th:object="${fornecedor}"
					th:action="@{/fornecedor/form}">
					<input type="hidden" th:field="*{id}"></input>

					<div class="col-4">
						<label for="nome" class="form-label">Razão Social </label> <input
							type="text" class="form-control" th:field="*{rzSocial}"
							placeholder="">
					</div>
					<div class="col-4">
						<label for="nome" class="form-label">Nome Fantasia </label> <input
							type="text" class="form-control" th:field="*{nmFantasia}"
							placeholder="">
					</div>
					<div class="col-4">
						<label for="nome" class="form-label">CNPJ </label> <input
							type="text" class="form-control" th:field="*{cnpj}"
							placeholder="">
					</div>
					<div class="col-4">
						<label for="nome" class="form-label">Inscrição Estadual </label> <input
							type="text" class="form-control" th:field="*{inscricaoEstadual}"
							placeholder="">
					</div>
					<div class="col-4">
						<label for="nome" class="form-label">Inscrição Municipoal
						</label> <input type="text" class="form-control"
							th:field="*{inscricaoMunicipal}" placeholder="">
					</div>
					<div class="col-4">
						<label for="nome" class="form-label">E-Mail </label> <input
							type="text" class="form-control" th:field="*{email}"
							placeholder="">
					</div>
					<div class="col-4">
						<label for="nome" class="form-label">Data Cadastro </label> <input
							type="text" class="form-control" th:field="*{dtCadastro}"
							placeholder="">
					</div>

					<div class="rom-row">
						
					</div>

				<div class="col-md-2">
					<button type="submit" class="btn btn-primary">Salvar
						Cadastro</button>
				</div>

				</form>
			</div>
		</div>
	</div>
</div>
</html>